vms:
    - name: <vm-name>
      id: <vm-id>
    - name: <vm-name>
      id: <vm-id>
    - name: <vm-name>
      id: <vm-id>
    - name: <vm-name>
      id: <vm-id>

groups:
  - name: <group-name>
    vms:
      - name: <vm-name>
        id: <vm-id>
      - name: <vm-name>
        id: <vm-id>
  - name: <group-name>
    vms:
      - name: <vm-name>
        id: <vm-id>
      - name: <vm-name>
        id: <vm-id>