groups:
  - name: <group-name>
    vms:
      - name: <vm-name>
        id: <vm-id>
      - name: <vm-name>
        id: <vm-id>
  - name: <group-name>
    vms:
      - name: <vm-name>
        id: <vm-id>
      - name: <vm-name>
        id: <vm-id>
vms:
    - name: <vm-name>
      id: <vm-id>
    - name: <vm-name>
      id: <vm-id>
    - name: <vm-name>
      id: <vm-id>
    - name: <vm-name>
      id: <vm-id>
lxc:
    - name: <lxc-name>
      id: <lxc-id>
    - name: <lxc-name>
      id: <lxc-id>